* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

#container {
    text-align: center;
    height: 100%;
    width: 100%;
  background-color: aqua;
  display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50% 50% 50%;
    /* grid-gap: 1%;   */
}

#heading{
    height:25%;
    width: 100%;
    font-size: large;
    text-align: center;
    background-color: lightgoldenrodyellow;
}

#panel{
    text-align: center;
    height: 10%;
    width: 100%;
}



#num1{

    background-color: lightcoral;
}

#num2{
    background-color: lightblue;
}
#num3{
    background-color: lightgreen;
}       

#num4{
    background-color: lightyellow;
}
#num5{
    background-color: lightpink;
}
#num6{
    background-color: lightgray;
}
#num7{
    background-color: lightgoldenrodyellow;
}
#num8{
    background-color: lightcyan;
}
#num9{
    background-color: lightseagreen;
}
#num0{
    background-color: lightsteelblue;
}
#op1{
    background-color: lightcoral;
}
#op2{
    background-color: lightblue;
}   
#op3{
    background-color: lightgreen;
}
#op4{
    background-color: lightyellow;
}
#op5{
    background-color: lightpink;
}
